@charset "UTF-8";
*{
    margin: 0;
    padding: 0;

    float: none;
    position: static;
    overflow:auto;
    
    
  
}

 

img{
    max-width: 100%;
    height: auto;
}



/*****************************************************s */
@media (min-width:768px){
    .header-left h2{
        width:100%;
        text-align: start;
        font-size:30px;
    }
    

    .socialbtn img{
        min-width: 55px;
        padding:10px;
    
    }

    .header a{
        /* font-size: 30px; */
        padding: 10px;
    }


    .gazou1 img{
        width:70%;
        margin: 40px;
    }

    .centeralignment{
        width: 70%;
        margin: 0 auto;
    }

}
/* ***************************************************** */

@media (min-width:1024px){
    .gazou1 {
        max-width: 100%;
        
       
    }


    .header-right a{
        font-size: 0.8em;
        padding-left: 20px;

    }

    

    .gazou1 img{
        width:50%;
        margin: 40px;
    }

    

    .gaiyou1 img{
        width: 100%;
        height: auto;
        

    }


    
    .centeralignment{
        width: 50%;
        margin: 0 auto;
    }

    .header-left h2{
        text-align: start;
        margin-top: 20px;
        

    }


     .header{
        margin:0px 220px;
        
    }

   
        

    

    
}



 

 
