@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    overflow:　auto;

}


body{

    /* font-family:'Helvetica',sans-serif; */
    font-family: "Noto Sans Japanese",sans-serif;
    font-weight: 280;
    
    
    
    
}

img{
    max-width: 100%;
    height: auto;
}
/**************ヘッダー **************/

.header{
    background-color: white;
   
   
}

.header-left h2{
    width:100%;
    text-align: start;
    margin-left: 70px;
    font-family:"Noto Sans Japanese",sans-serif;
    font-weight:bold;
    color: #696969;
    
}

.socialbtn{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    
}

.socialbtn a{
    max-width: 33px;
    padding:3px;
    color: #696969;

    
}



.header-right ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 10px;
    
 }

 .list li{
     padding-right: 10px;
 }

.header-right a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}



.header-left{
    display: flex;
    align-items: center;
}
/**************メイン**************/

.gazou1{
    background-color:#f5f5f5;
    display:flex;  
    justify-content: center;
    width: 100%;
    margin: 0 auto; 
 }

 .gazou1 img{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);  
    margin:30px;
    width:80%;

 }



 .apps p{
    line-height: 40px;
    margin:0 10px;

}


.centeralignment{
    line-height: 40px; 
    padding: 15px;
    text-align:left;
    
    
} 


.centeralignment p{
    line-height: 30px;
    font-size: 18px;
}

.centeralignment li{
    font-size: 18px;
}






.gaiyou{
    border:solid 1px #c0c0c0;
    border-radius: 5px;
    padding: 10px; 
   

}


.gaiyou1{
    text-align:center;
    line-height: 40px;
    
    
}

.gaiyou1 h2{
    text-align: left;
}

.gaiyou1 img{
    max-width: 100%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);  

    
}

.gazou3 img{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
   
}

.icon_man::before {
    content: url(/Users/takadayuuko/Desktop/hide.site/images/icons8-github-96.png) ;
    position : relative ;
    right: 0.5em;
    
}
.appman {
    position: absolute;
    padding-top: 10px;
}

   
.senn{
    margin-left:25%;
    margin-right:25%; 
    margin-top: 25px;
    margin-bottom: 25px; 
    border-top: 1.5px dashed #c0c0c0;

  
}

.snsbutton{
    border: solid  1px  #c0c0c0;
    padding: 20px;
    margin-top:30px;
    margin-bottom: 30px;
    border-radius: 5px;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
 }

.snsbutton a{
    color: #fff;
    text-decoration: none;
}



.submit {
    
    width: 240px;
    height: 45px;
    font-family:'Helvetica',sans-serif;
    font-size: 15px;
    /* text-transform: uppercase; */
    
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px #bbb;   /* 影指定 */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 60px;
    
   


    }
  
  .submit:hover {
    background-color: #fff;
    /* box-shadow: 0px 15px 20px #a9a9a9(46, 229, 157, 0.4); */
    color: #000000;
    transform: translateY(-1px);
   
  }
  
  
  



  .learning .rireki{
      font-weight: bold;
      border-bottom: solid 1px;
     

  }


  .learning p{
      padding-top: 20px;
  }


/**************フッター**************/
.end{ 
   background-color: #696969;
}






   

git 今book.

