@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}


body{
    font-family:'Helvetica',sans-serif;
    font-weight: 100;
    
}

.gazou1{
    background-color: #f8f8ff;
    /* display:flex; */
    /* justify-content: center; */
    /* padding: 50px 50px; */
    width: 100%;
    margin: 0 auto;
 }
.hide1{
    width: 100%;
}



.gazou1 img{
/* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1); */
    margin-top:60px;
    width: 100%;


}

.gaiyou{
    border:solid 1px #dce4ec;
    line-height: 40px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    /* width: 750px; */
 
    
}
.gazou2{
    width:100%;
}
    

.socialbtn{
    list-style: none;
    position: absolute;
    top:30px;
    right: 40px;
    display: flex;
    
    
   
}


.socialbtn img{
    max-width: 33px;
    padding:20px;
    
}

.my-color{
    color: gray;
}
   
  







.header-right ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 130px;
 
}


.header-right li{
    /* padding: 20px; */
    margin-right: 60px;
  
}

.header-right a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}


.header-left{
    margin-bottom: 50px;
    position: relative;
    top: 50px;

}


.header-left h2{
font-size: 30px;
padding-left: 50px;



}
.header{
    height: 200px;
   
}




.centeralignment{
    /* display: flex; */
    /* justify-content: center; */
    line-height: 50px;
    padding: 10px;
    width:100%;
    margin: 0 auto;
    /* text-align:left; */
    
}

.flex-contianer1{
   
    margin: 0 auto;
    text-align:left;
}

.flex-contianer2{
    /* width: 780px; */
    margin: 0 auto;
    text-align:left;
}

.centeralignment p{
font-size: 20px;
}


.technology li{
     list-style:none;
 }





 .apps p{
    line-height: 0.1px;
    margin-bottom: 40px;

}
  
.apps span{
    color: #a9a9a9;
}


.icon-p{
    padding-left: 98px;
}


.end{
    margin: 40px;
}

.icon_man:before {
    content: url(/Users/takadayuuko/Desktop/hide.site/images/icons8-github-96.png) ;
    position : relative ;
    bottom : -3em ;
    right: 1em;
    margin-right : 0.1em ;
}

   
/* 1/3 */
/* メインのCSSで width: XXXpx というように固定値で幅を指定している要素は、 */
/* メディアクエリ内で width: XXX% というように親要素に対する相対値で指定しなおす。 */
→メインcssでpx指定しているものは削除した。(コメントアウト)
