@charset "UTF-8";
*{
    margin: 0;
    padding: 0;

}
@media screen and (max-width:1024px){
    .header-left h2{
        color: #ff4500;
       
}   
.header-right a{
    font-size: 30px;
   
}
  

.socialbtn{
    position: absolute;
    top:20px;
    right: 40px;
    display: flex;
}

.gazou1{
    width: 100%;
}
}
/* ******************************************** */
@media screen and (max-width:568px){
    .header-left h2{
        
    }
}