@charset "UTF-8";

*{
    margin: 0;
    padding: 0;

}




.gazou1{
    background-color: #f8f8ff;
    display:flex;
    justify-content: center;
 
   
}






.gazou1 img{
    /* width:800px; */
    /* max-width: 80%; */
   
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top:60px;

}

.gaiyou{
    border:solid 1px #dce4ec;
    line-height: 40px;
    padding: 30px;
    width: 800px;
 
    
}
.gazou2{
    width:800px ;
}
    

.socialbtn{
    list-style: none;
    position: absolute;
    top:60px;
    right: 60px;
    display: flex;
   
}

.my-color{
    color: gray;
}
   
  







.header-right ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
 
    

}
.header-right li{
    /* padding: 20px; */
    margin-right: 60px;
  
}

.header-right a{
    color: #000;
    text-decoration: none;
    font-size: 14px;
}


.header-left{
    margin-bottom: 50px;
    position: relative;
    top: 50px;

}


.header-left h2{
font-size: 30px;
padding-left: 50px;



}
.header{
    height: 200px;
   
}




.centeralignment{
    display: flex;
    justify-content: center;
    line-height: 50px;
    padding: 40px;
}
  

 .technology li{
     list-style:none;
 }


.apps{
    padding: 60px;
  
}
.end{
    margin: 40px;
}